/* Media Queries Menu */

@media all and (max-width : 768px) {
    img.logo {
        width: 25%;
        height: auto;
    }

    #logo-lg {
        display: none;
    }


    #logo-sm {
        display: block;
        padding: 5px 0 0;
        margin: auto;
        text-align: center;
        float: none;
    }

    nav {
        margin: 0;
    }

    .toggle + a,
    .menu {
        display: none;
    }

    .toggle {
        display: block;
        background-color: #c49f58;
        padding: 14px 20px;
        color: #ffffff;
        font-size: 17px;
        text-decoration: none;
        border: none;
    }

    .toggle:hover {
        background-color: #000000;
    }

    [id^=drop]:checked + ul {
        display: block;
    }

    nav ul li {
        display: block;
        width: 100%;
    }

    nav ul ul .toggle,
    nav ul ul a {
        padding: 0 40px;
    }

    nav ul ul ul a {
        padding: 0 80px;
    }

    nav a:hover,
    nav ul ul ul a {
        color: #c49f58;
    }

    nav ul li ul li .toggle,
    nav ul ul a,
    nav ul ul ul a{
        padding: 14px 20px;
        color: #FFF;
        font-size: 17px;
    }


    nav ul li ul li .toggle,
    nav ul ul a {
        background-color: #212121;
    }

    nav ul ul {
        float: none;
        position: static;
        color: #ffffff;
    }

    nav ul ul li:hover > ul,
    nav ul li:hover > ul {
        display: none;
    }

    nav ul ul li {
        display: block;
        width: 100%;
    }

    nav ul ul ul li {
        position: static;
    }

}

@media all and (max-width : 330px) {

    nav ul li {
        display: block;
        width: 94%;
    }

}